header {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: all 0.2s ease;
    @include media-breakpoint-down(lg) {
        background-color: rgba(0, 0, 0, 0.85) !important;
    }
    
    &.sticky {
        box-shadow: 0px 2px 7px #222;
        background-color: rgba(0, 0, 0, 0.85);
        position: fixed;
        z-index: 999;
        top: 5px;

        .navbar {
            .navbar-brand {
                img {
                    width: 160px;
                    display: none;
                    &.logo-sticky {
                        display: block;
                    }
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    /* .nav-link {
                        color: $color-main;
                    } */
                }
            }
        }
    }

    .navbar {
        background-color: transparent;
        padding: 0.5rem 0;
        .navbar-brand {
            padding: 0;
            img {
                transition: all 0.5s ease;
                @include media-breakpoint-down(lg) {
                    width: 140px !important;
                    display: none;
                }
                &.logo-sticky {
                    display: none;
                    @include media-breakpoint-down(lg) {
                        display: block;
                    }
                }
            }
        }
        .navbar-collapse {
            justify-content: end;
            .navbar-nav {
                .nav-link {
                    color: #fff;
                    margin-right: 1rem;
                    font-size: 1.5rem;
                }
            }
        }

        .navbar-toggler {
            min-height: 40px;
            &:focus {
                box-shadow: 0 0 0 0.1rem rgb(255 255 255 / 30%);
            }
            &[aria-expanded=true] {
                .navbar-toggler-icon {
                    span {
                        margin: 0;
                        &:first-child {
                            transform: rotate(45deg);
                        }
    
                        &:last-child {
                            transform: rotate(-45deg);
                            margin-top: -1px;
                        }
                        
                    }
                }
            }
            .navbar-toggler-icon {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                background-image: none;
                span {
                    display: block;
                    width: 26px;
                    height: 2px;
                    background-color: #fff;
                    margin-bottom: 8px;
                    transition: all 0.25s ease-in-out;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}